* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
li{
    list-style: none;
}
body {
	font-family: "sora-regular";
	font-size: 17px;
	overflow-x: hidden;
}
@font-face {
    font-family:'sora-regular' ;
    src: url(../fonts/Sora-Regular.ttf);
} 
a{
	color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
}
img{
    display: block;
    width: 100%;
}
p{
	line-height:1.6em;
	font-size: 18px;
	color: #000;
}
h1,h3,h2{
    font-size: 45px;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

/* styiling header section */
/* top  header */

main header {
    width: 100%;
}
 main header .top .head{
    width: 100%;
    background: rgb(17, 17, 17);
}
main header .top .head marquee a { 
    background: rgb(17, 17, 17);
    color: rgb(225, 170, 6);  
}

 /* middle  header */

main header .middle { 
    background-color: #1b1f22;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0px 1.5rem 2rem;
}
main header .middle .more { 
    color: #fff;
    font-size: 13px;
}
main header .middle .left ul { 
    display: flex;
}
main header .middle .left ul li a{
    color: #fff;
    margin-right: 1rem;
    display: inline-block;  
}
main header .middle .left ul li a small{
    font-size: 11px;
}
main header .middle .left ul li a small:hover{
   color:rgb(225, 170, 6);  
}
main header .middle .left ul li a i{ 
    color: #fff;
    margin-right: 1rem;
}

/* styling spotlight section */

#spotlight .top .wrapper .container{ 
    width: 100%;
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
#spotlight .top .wrapper .container .left { 
    width: 12%;
    margin-right: .5rem;
}
#spotlight .top .wrapper .container .middle { 
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
#spotlight .top .wrapper .container .middle #check { 
    display: none;
}
#spotlight .top .wrapper .container .middle .cansel{
    display: none;

}
#spotlight .top .wrapper .container .middle .checkbtn { 
    display: none;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#spotlight .top .wrapper .container .middle .menu { 
    display: flex;   
}
#spotlight .top .wrapper .container .middle .menu li { 
    font-size: 11px;
    margin-right: 1rem;
}
#spotlight .top .wrapper .container .right { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
#spotlight .top .wrapper .container .right .input-container { 
    width: 45%;
    position: relative;
}
#spotlight .top .wrapper .container .right .input-container .header-input[type="text"] {  
    padding: 10px 0px 10px 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #000;
}
.icon {
    position: absolute;
    top: 18px;
    transform: translateY(-60%);
    color: #424040;
    margin-left: .3rem;
}
#spotlight .top .wrapper .container .right .button .one { 
    background: rgb(17, 17, 17);
    border-radius: 50px;
    margin-left: 1rem;
    padding: 15px 30px 10px 35px;
    position: relative;
}
#spotlight .top .wrapper .container .right .button .one span { 
     position: absolute;
    left: .9rem;
    bottom: 1rem;
}
#spotlight .top .wrapper .container .right .button .one span i { 
    color: #fff;
}
#spotlight .top .wrapper .container .right .button .one h5 { 
    color: #fff;
}
#spotlight .top .wrapper .container .right .button .one p { 
    color:rgb(225, 170, 6); 
    font-size: 10px;
}

/* styling about section */

#about .maintop{
    background-image:url("../images/background-about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#about .maintop .wrapper ul { 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 4rem;
    margin: 3rem 0 3rem 0;
}
#about .maintop .wrapper ul li { 
    list-style: none;
    width: 14%;
}
#about .maintop .wrapper ul li p { 
    color: #fff;
    font-size: 16px;    
}

/* about middle */

#about .middle { 
    background-color: #1b1f22;
}
#about .middle .wrapper .about-middle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0px;
}
#about .middle .wrapper .about-middle-container .center { 
    margin-right: 6rem;
    font-size: 21px;
}
#about .middle .wrapper .about-middle-container .center .top { 
    display: flex;
}
#about .middle .wrapper .about-middle-container .center .top .yellow { 
    color: rgb(225, 170, 6) ;
}
#about .middle .wrapper .about-middle-container .center .top h4 { 
   color: #fff;
   font-size: 21px;
}
#about .middle .wrapper .about-middle-container .center .bottom-p p {  
    font-size: 17px;
    color: #fff;
}
#about .middle .wrapper .about-middle-container .right button { 
    padding: 15px;
    background-color: #fff;
}
#about .middle .wrapper .about-middle-container .right button:hover{
    background-color: #000;
    color: #fff;
}

/* about bottom */

#about .bottom {    
    margin-top: 3rem;
}
#about .bottom .wrapper ul { 
    text-align: center;
    border-top: 1px solid;
    border-top-color:rgba(230, 229, 229, 0.925);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#about .bottom .wrapper ul li { 
    width: 25%;
}
#about .bottom .wrapper ul li span{
    display: inline-block;
    width: 18%;
    height: 55%;
}
#about .bottom .wrapper ul li a img { 
    width: 100%;
    display: block;
}
#about .bottom .wrapper ul li a{
    color: #1b1f22;
}
#about .bottom .wrapper ul li a h5 { 
    font-size: 11px;
    line-height: 1.5rem;
}

 /* styling footer section */
  /* footer section top */

footer{
    background-color: #1b1f22;  
}
footer .top { 
    display: flex;
    color: #fff;
    padding: 2rem 3rem;
    justify-content: space-between;
    border-bottom: 1px solid  #d9cfcf;;
}
footer .top .left { 
    display: flex;
    width: 50%;
}
footer .top .left ul.one{
    width: 40%;
}
footer .top .left ul li { 
    margin-bottom: .5rem;
    font-size: 12px;
}
footer .top .left ul li a{
    color: #fff;
}
footer .top .left ul li a h5 {   
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* footer top right */

footer .top .right { 
    position: relative;   
}
footer .top .right h5 { 
    margin-bottom: 1rem;
}
footer .top .right input { 
    background-color: #1b1f22;
    width: 100%;
    border-right: none;
    text-transform: capitalize;
    font-size: 12px;
    padding-bottom: 10px;
}
footer .top .right input[type="text"] {
    padding: 1rem 10px;
    border: none;
    border-bottom: 1px solid #d9cfcf;
    color: #fff;
}
footer .top .right input::placeholder{
    color: #d9cfcf;
}
footer .top .right .arrow { 
    position: absolute;
    right: 10px;
    top: 3rem;
    padding: 0.5rem;
} 
footer .top .right .arrow i{
    color:#d9cfcf;
}
footer .top .right p { 
    font-size: 13px;
    color: #6d6f70;
    margin: 1rem 0rem;
}
footer .top .right div { 
    display: flex;
    width: 23rem;
    align-items: center;
}
footer .top .right .social div.image a{
    width: 20%;
}
footer .top .right .social div.image a i{
    color: #fff;
}
footer .top .right .social .h5 h5 { 
    margin-top: 1rem;
}
footer .middle { 
    padding: 2rem 3rem 2rem 3rem;
}
footer .middle h2 { 

    font-size: 20px;
    color: #fff;
}
footer .middle h4 { 
    font-size: 16px;
    margin: 1rem 0;
}
footer .middle p{
    color: #fff;    
    font-size: 13px;
}
footer .bottom { 
    background-color: black;
}
footer .bottom .wrapper .footer-bottom-container{
    align-items: baseline;
    justify-content: space-between;
    display: flex;
    padding: 1rem 3rem;
}
footer .bottom .wrapper .footer-bottom-container .left { 
    font-size: 11px;
}
footer .bottom .wrapper .footer-bottom-container .left a { 
    color: #fff;
}
footer .bottom .wrapper .footer-bottom-container .right p { 
    color: #fff;
    font-size: 11px;
}

/* responsive design */

@media all and (max-width:1280px){
    #about .maintop .wrapper ul li p {
        font-size: 14px;
    }
}
@media all and (max-width:1080px){
    #about .maintop .wrapper ul li p {
        font-size: 13px;
    }
    #spotlight .top .wrapper .container .right .button .one p {
        font-size: 9px;
    }
    #spotlight .top .wrapper .container .right .button .one h5 {
        font-size: 10px;
    }
    #spotlight .top .wrapper .container .middle .menu li {
        font-size: 9px;
        margin-right: 1rem;
    }
    #about .bottom .wrapper ul li span {
        width: 23%;
    }
    footer .top .left ul.one {
        width: 45%;
    }
}
@media all and (max-width:980px){
    main header .top .head marquee a {
        font-size: 10px;
    }
    #spotlight .top .wrapper .container .middle .checkbtn{
        display: block;
        font-size: 18px;
        line-height: 50px;
        margin-left: 10px;
      }
      #spotlight .top .wrapper .container .middle .cansel{
        display: block;
        margin-left: 85%;
    }
      #spotlight .top .wrapper .container .middle .menu{
        position: fixed;
        width: 22%;
        height: 100vh;
        background:#fff;
        top: 80px;
        left: -278%;
        text-align: center;
        transition: all .5s;   
        flex-direction: column;
      }
      #spotlight .top .wrapper .container .middle .menu li{
        display: block;
        margin: 0;
        line-height: 30px;
      }
      #spotlight .top .wrapper .container .middle .menu li a{
        font-size: 11px;
      }
      #spotlight .top .wrapper .container .middle .menu li a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #spotlight .top .wrapper .container .middle #check:checked ~ ul{
        left: 0;
        width: 35%;
      }
      #spotlight .top .wrapper .container .middle {
        position: absolute;
        left: 210px;
    }
    #about .maintop .wrapper ul li {
        width: 18%;
    }
    #about .middle .wrapper .about-middle-container .center .top h4 {
        font-size: 18px;
    }
    footer .bottom .wrapper .footer-bottom-container .left {
        font-size: 8px;
    }
    footer .bottom .wrapper .footer-bottom-container .right p{
        font-size: 8px;
    }
    footer .top .right {
        width: 45%;
    }
    footer .top .left ul li {
        font-size: 9px;
    }
    footer .middle h2 {
        font-size: 17px;
    }
    body{
        width: 103%;
    }
}
@media all and (max-width:768px){
    #spotlight .top .wrapper .container .middle {
        left: 195px;
    }
    #spotlight .top .wrapper .container .left {
        width: 20%;
    }
    #spotlight .top .wrapper .container .right .input-container .header-input[type="text"] {
        display: none;
    }
    #spotlight .top .wrapper .container .right .button .one p {
        font-size: 6px;
    }
    #spotlight .top .wrapper .container .right .button .one h5 {
        width: 5rem;
        font-size: 7px;
    }
    #spotlight .top .wrapper .container .right .button .one span {
        bottom: 12px;
    }
    .icon {
        top: 0rem;
        right: 0px;
    }
    #about .maintop .wrapper ul li {
        width: 17%;
    }
    #about .maintop .wrapper ul li p {
        font-size: 10px;
    }
    #about .middle .wrapper .about-middle-container {
        flex-direction: column;
    }
    #about .middle .wrapper .about-middle-container .center {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    #about .middle .wrapper .about-middle-container .center .bottom-p p {
        margin-left: 3rem;
        font-size: 13px;
    }
    #about .bottom .wrapper ul li {
        width: 35%;
    }
    footer .top {
        flex-direction: column;
    }
    footer .top .left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    footer .top .right {
        width: 100%;
    }
    footer .middle h2 {
        font-size: 15px;
    }
    footer .bottom .wrapper .footer-bottom-container .left {
        font-size: 7px;
    }
    footer .bottom .wrapper .footer-bottom-container .right p {
        font-size: 7px;
    }
    #about .bottom .wrapper ul li a h5 {
        font-size: 9px;
    }
}
@media all and (max-width:640px){
    main header .middle .more {
        font-size: 10px;
    }
    #spotlight .top .wrapper .container .middle {
        left: 160px;
    }
    #spotlight .top .wrapper .container .middle .checkbtn {
        font-size: 15px;
    }
    main header .middle .left ul li a small {
        font-size: 9px;
    }
    #about .maintop .wrapper ul li p {
        font-size: 11px;
    }
    #about .maintop .wrapper ul li {
        width: 21%;
    }
    #about .middle .wrapper .about-middle-container .left{
        width: 10%;
    }
    #about .middle .wrapper .about-middle-container .right button {
        padding: 10px;
    }
    #about .middle .wrapper .about-middle-container .center .bottom-p p {
        margin-left: 3rem;
    }
    footer .top .left ul li h5 {
        font-size: 10px;
    }
    footer .middle p {
        font-size: 10px;
    }
    footer .bottom .wrapper .footer-bottom-container .right {
        display: none;
    }
}
@media all and (max-width:540px){
    main header .middle .left ul li:nth-child(4){
        display: none;
    }
    main header .middle .left ul li:nth-child(5){
        display: none;
    }
    main header .middle .left ul li:nth-child(6){
        display: none;
    }
    #spotlight .top .wrapper .container .left {
        width: 25%;
    }
    main header .middle {
        padding: 0.5rem 0px 0.5rem 2rem;
    }
    #spotlight .top .wrapper .container .right {
        padding: 5px 0;
    }
    #spotlight .top .wrapper .container {
        padding: 0px 5px 0 3rem;
    }
    #about .maintop .wrapper ul {
        padding-bottom: 1rem;
    }
    #about .maintop .wrapper ul li p {
        font-size: 9px;
    }
    #about .middle .wrapper .about-middle-container .center .top h4 {
        font-size: 15px;
    }
    #about .middle .wrapper .about-middle-container .center .bottom-p p {
        margin-left: 3rem;
        font-size: 12px;
    }
    #about .middle .wrapper .about-middle-container .right button {
        padding: 8px;
        font-size: 8px;
    }
    #about .bottom .wrapper ul {
        width: 98%;
    }
    #about .maintop .wrapper ul {
        margin: 1rem 0 1rem 0;
    }
    #about .bottom {
        margin-top: 1rem;
    }
    #about .bottom .wrapper ul li span {
        width: 30%;
        height: 45%;
    }
    footer .top .right h5 {
        margin-bottom: 3px;
        font-size: 12px;
    }
    footer .top .right .social .h5 h5 {
        margin-top: 0rem;
    }footer .top .right .arrow {
        top: 2rem;
    }
    #spotlight .top .wrapper .container .middle {
        left: 175px;
    }
    #spotlight .top .wrapper .container .middle #check:checked ~ ul {
        left: 0;
        width: 45%;
        top: 65px;
    }
    footer .top .left ul li a h5 {
        font-size: 11px;
    }
    footer .middle h4 {
        font-size: 12px;
    }
}
@media all and (max-width:480px){
    body{
        width: 116%;
    }
    #about .maintop .wrapper ul li {
        width: 23%;
    }
    #about .bottom .wrapper ul li span {
        width: 35%;
    }
    #about .bottom .wrapper ul li a h5 {
        font-size: 10px;
    }
    #about .bottom .wrapper ul li span {
        width: 40%;
    }
    #about .middle .wrapper .about-middle-container .left {
        width: 15%;
    }
    #spotlight .top .wrapper .container .middle #check:checked ~ ul {
        width: 50%;
    }
}